<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Tasks</h1>
    <ul id="tasks">
      {{range .todos}}
      <li id="task-{{.Id}}">
        {{.Title}} - {{.Status}}
        <button
          hx-delete="/todos/{{.Id}}"
          hx-target="#task-{{.Id}}"
          hx-swap="outerHTML"
        >
          Delete
        </button>
      </li>
      {{else}}
      <li>No tasks found.</li>
      {{end}}
    </ul>
    <form hx-post="/todos" hx-target="#tasks" hx-swap="beforeend">
      <input name="title" placeholder="Title" />
      <input name="status" placeholder="Status" />
      <button>Save</button>
    </form>
  </body>
</html>
